/* RESET GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
}

/* ESTRUTURA FLEXÍVEL */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: white;
  /* background-image: url(logotipo.png);
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: center; */
}

header {
  background-color: #0D1B2A;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
}

/* FOOTER RESPONSIVO */
footer {
  background-color: #0D1B2A;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

/* TOPO */
.cabecario {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.navegacao {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  flex-wrap: wrap;
}

/* INPUT DE PESQUISA */
.pesquisa input {
  display: flex;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 22.5px;
  outline: none;
  border: 3px solid orange;
}

/* I:logo de lupa*/
.input-search {
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat right 10px center;
  background-size: 20px 20px;
  background-color: white;
  cursor: text;
}

/* I: links de navegação */
.a1 {
  color: white;
  text-decoration: none;
  transition: 0.8s ease;
}

.a1:hover {
  text-decoration: underline;
}
/* K: LOGO */
.logo {
  width: 120px;
  border-radius: 50%;
  border: 3px solid orange;
}

.logohome {
  text-align: left;
  position: relative;
}

.divdobotaosugerir {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.botaosugerir{
  display: flex;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 22.5px;
  margin-top: 2px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.botaosugerir:hover {
  transform: scale(1.05);
  color: rgb(211, 185, 136);
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  width: 250px;
  max-height: 380px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  background-color: #Ffffff;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
  border: 2px solid black;
  transition: transform 0.5s ease-in-out;
  padding-bottom: 20px;
}

.card:hover{
  transform: scale(1.05);
  
}

.cardimagem img{
  width: 160px;
  height: 160px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  background-size: cover;
}

.cardstext{
  margin-top: 10px;
}

.cardtitulo{
  font-weight: bold;
  font-size: xx-large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 5px;
}

.card .carddescricao{
  display: -webkit-box;
  font-size: small;
  margin-top: 15px;
  margin-bottom: 2px;
  margin-left: 8px;
  margin-right: 5px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* I: expande akakak*/
.card.expanded {
  max-height: 500px;
}

/* I: desativa as limitações */
.card.expanded .carddescricao {
  -webkit-line-clamp: unset;
}

.comprar{
  background-color: orange;
  color: white;
  font-size: medium;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  transition: ease 100ms;
  cursor: pointer;
}

.comprar:hover{
  background-color: #0D1B2A;
  border: 2px solid orange;
}


.divbotaosaber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sabermais{
  background-color: orange;
  color: white;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  width: 60px;
  font-size: medium;
  padding: 5px;
  margin-top: 10px;
  transition: ease 100ms;
  cursor: pointer;
}

.sabermais:hover{
  background-color: #0D1B2A;
  border: 2px solid orange;
}

.textoinfor{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.linksobre{
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.contato{
  margin-left: 59px;
}

.contatoemail {
  color: orange;
}

.logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.redessociais{
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  gap: 5px;
}

/*I: parte de login*/

.contentlogin{
  display: none;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  border-radius: 10%;
  border: 2px solid black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.268);
  background-color: white;
  color: black;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.inputlogin{
  width: 150px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 3px;
}

.confirmar{
  background-color: white;
  color: black;
  margin-top: 30px;
  width: 100px;
  border-radius: 5px 5px;
  padding: 10px;
  border: 2px solid black;
  transition: 0.5s ease;
  cursor: pointer;
}

.confirmar:hover{
  background-color: black;
  color: white;
}

.inputprodutocss{
  width: 190px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 3px;
  background-color: white;
}

.textossugestao{
  margin-left: 10px;
  margin-top: 10px;
}

.sugestao{
  text-align: center;
  position: static;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 400px;
  height: 350px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid orange;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.268);
  background-color: #0D1B2A;
  color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.fecharsugestao{
  text-decoration: none;
  color: white;
  font-size: large;
  background-color: #0D1B2A;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid orange;
  width: 100px;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.fecharsugestao:hover {
  transform: scale(1.05);
  color: rgb(211, 185, 136);
}

.divfecharsugestao{
  display: flex;
  justify-content: right;
  align-items: start;
  position: static;
}

.textoemailsugestao{
  margin-top: 50px;
  display: flex;
  justify-content: right;
  align-items: start;
  position: static;
}

.linkemailsugestao{
  text-decoration: none;
  color: white;
  font-size: large;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  width: 250px;
  border: 2px solid orange;
  cursor: pointer;
  transition: 0.5s;
}

.linkemailsugestao:hover {
  color: rgb(211, 185, 136);
  transform: scale(1.05);
}

.botaosugestao{
  display: flex;
  justify-content: center;
}

.confirmarsugestao{
  background-color: white;
  color: black;
  margin-top: 20px;
  width: 100px;
  border-radius: 5px 5px;
  padding: 10px;
  border: 2px solid black;
  transition: 0.5s ease;
  cursor: pointer;
}

.confirmarsugestao:hover{
  background-color: black;
  color: white;
}

.contentsugestao{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* MEDIA QUERY RESPONSIVA */
@media (max-width: 768px) {
  .cabecario,
  .navegacao {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navegacao {
    font-size: 20px;
    text-align: center;
  }

  .pesquisa input,
  .input-search,
  .botaoanuncio {
    font-size: 18px;
    width: 90%;
  }

  .logo {
    width: 100px;
  }

  .divdobotao {
    margin: 10px auto;
    text-align: center;
  }
}